header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--light-background-bloc-color);
    
    h1 {
        display: none;
    }

    ul {
        padding: 0;
        display: flex;
        gap: 2rem;

        li {
            padding: 0.5rem;
            list-style: none;
            border-radius: 0.5rem;
            transition: 0.3s;

            a {
                text-decoration: none;
                color: var(--light-text-color) ;
            }

            &:hover {
                background-color: var(--light-button-hover-color);
            }

        }
    }
}

@media screen and (width > 550px ) {
    header {
        justify-content: space-between;

        h1 {
            display: initial;
        }
    }
}