.home-container {
    padding: 1rem;

    .home-section {
        padding: 1rem;
        max-width: 800px;
        background-color: var(--light-background-bloc-color);
        border-radius: 1rem;
    
        h2 {
            text-align: center;
        }
    
        article {
            p {
                max-width: 70ch ;
            }
        }
    }
}